<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12533272890-g280bah0chnn4kehi498388obodmrteu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12533272890-g280bah0chnn4kehi498388obodmrteu</string>
	<key>API_KEY</key>
	<string>AIzaSyBp16R8BxGZSx9_DQuSdJzdN7_PVnpAPx4</string>
	<key>GCM_SENDER_ID</key>
	<string>12533272890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.Money-Management</string>
	<key>PROJECT_ID</key>
	<string>managementmoney-77fea</string>
	<key>STORAGE_BUCKET</key>
	<string>managementmoney-77fea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12533272890:ios:648bd51946dca888558003</string>
	<key>DATABASE_URL</key>
	<string>https://managementmoney-77fea.firebaseio.com</string>
</dict>
</plist>